body {
  margin: 0;
  background: black;
  text-align: center;
  font-family: sans-serif;
  color: white;
}

.pantalla-inicial {
  position: absolute;
  top:50%; left:50%;
  transform: translate(-50%,-50%);
}

button {
  margin-top: 15px;
  padding: 10px 25px;
  font-size: 1.1rem;
  background: none;
  border: 2px solid white;
  color: white;
  border-radius: 30px;
  cursor: pointer;
  transition: .3s;
}

button:hover {
  background: white;
  color: black;
}

.contenedor-flor, .flores {
  position: absolute;
  top:50%; left:50%;
  transform: translate(-50%,-50%);
}

.tallo {
  width: 5px; height: 120px;
  background: #a020f0;
  margin: 0 auto;
  box-shadow: 0 0 10px #b030f0;
}

.hojas {
  width: 20px; height: 10px;
  background: #b030f0;
  border-radius: 50%;
  position: absolute;
  top: 110px; left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 0 8px #d66fff;
}

.petalos {
  width: 100px; height: 100px;
  background: #d66fff;
  border-radius: 50%;
  margin-top: 30px;
  box-shadow: 0 0 20px #ffb3ff;
  opacity: 0;
  transform: scale(0);
  animation: florecer 1.5s forwards ease-out;
}

@keyframes florecer {
  to { opacity:1; transform: scale(1); }
}
